
*{
    margin: 0;
    padding: 0;
}

/****************/

#nav > ul {
    position: relative;
}

#nav > ul {
    margin-left: 200px;
}

#nav {
    height: 20px;
}

#nav ul {
    list-style-type: none;
}

#nav > ul > li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 100px;
    position: relative;
}

#nav ul li ul li {
    width: 100px;
    height: 30px;
}

#nav li a {
    display: block;
}

#nav li .bar {
    display: none;
    position: absolute;
    top: 100%;
}

#nav li:hover .bar {
    display: block;
    z-index: 5;
}
/****************/

.card{
    overflow: hidden;
}

.card-img-top {
width: 300px;
transition: all 4s;
-moz-transition: all 4s;
-webkit-transition: all 4s;
-o-transition: all 4s;
}
   

.card-img-top:hover {
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

**********************

.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}

.top-hidden {

    display: none;
}

#background{
    background: linear-gradient(rgba(86, 164, 235, 1), rgba(86, 164, 235, 0.8), rgba(86, 164, 235, 1)), url(img/3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
}




